
:root {
    --new-car: rgba(15, 79, 193, 1);
    --black: rgba(0, 0, 0, 0.1);
    --black-2: rgba(0, 0, 0, 0.3);
    --black-3: rgba(0, 0, 0, 0.5);
  --winter-sky: rgba(246, 15, 112, 0.2);
  
  }

.investments{
    padding: 25px 35px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    width: 90%;
    border-radius: 16px;
    min-height: 400px;
    margin-bottom: 40px;
}

.madetommy-medium-new-car-20px {
  color: var(--new-car);
  font-family: "MADE TOMMY-Medium", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.border-class-88 {
  border: 1px solid var(--black);
}
.edit-searchsmall {
  height: 32px;
  width: 32px;
}
.frame-65 {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 0 0 19px;
  width: 367px;
}
.search-investment{
    width: 100%;
    border-radius: 6px;
    height: 48px;
    border: none;
}
.search-investment:focus{
    border: none;
}

.madetommy-light-black-14px {
  color: var(--black-2);
  font-family: "MADE TOMMY-Light", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "MADE TOMMY-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MADETOMMY-Regular") format("opentype");
}

@font-face {
  font-family: "MADE TOMMY-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/MADETOMMY-Medium") format("opentype");
}

@font-face {
  font-family: "MADE TOMMY-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/MADETOMMY-Light") format("opentype");
}

* {
  box-sizing: border-box;
}
.border-class-190 {
  border: 1px solid var(--winter-sky);
}
.investment-mini-card {
  border-radius: 10px;
  height: 136px;
  overflow: hidden;
  position: relative;
  
}
.madetommy-light-black-12px {
  color: black;
  font-family: "MADE TOMMY-Light", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.madetommy-medium-black-16px {
  color: var(--black-3);
  font-family: "MADE TOMMY-Medium", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.madetommy-regular-normal-black-18px {
  color: black;
  font-family: "MADE TOMMY-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.overlap-group {
  height: 139px;
  left: 22px;
  position: absolute;
  top: -22px;
  width: 279px;
}
.price {
  left: 157px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 117px;
}
.rectangle-66 {
  height: 134px;
  left: 145px;
  position: absolute;
  top: 0px;
  width: 134px;
}

.view-details-13121 {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 68px;
}

.text-22 {
    letter-spacing: 0px;
    min-height: 40px;
    text-align: left;
    max-width: 200px;
    position: absolute;
    top: 37px;
  }